pandas
plotly
yfinance
ta
matplotlib
scikit-learn
seaborn
numpy
mplfinance
pandas_datareader
keras
astropy
pyarrow
fastparquet
kaleido
google
pathos
google-cloud-storage
html5lib
pyfinviz
pytz
beautifulsoup4
google-cloud-logging
cloud-sql-python-connector
sqlalchemy
pg8000
statsmodels
influxdb-client
investpy
gspread
gspread_dataframe